div{
    background-color: rgb(38, 23, 53);
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
}

/*app-social-media {
    float:right;
    margin-top: 20px;
    background-color: black;
}*/