<div class="row">
    <div class="container col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <!--<img src="../assets/img/fotoPerfil2.jpeg" class="img-fluid" id="fotoperfil" alt="Foto de perfil">-->
        <img [src]="persona.img" class="img-fluid" id="fotoperfil" alt="Foto de perfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-3">
        <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}</h2><br>
        <h3>Full Stack Developer Jr.</h3>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-6">
        <span>
            <h1 class="acercade">Acerca de mí</h1>
            <p>Hola, soy Luisa. Tengo 45 años. Vivo en Mendoza desde finales de 2013, pero soy de Buenos Aires. Creo que nunca es tarde para reinventase, y es por esto mismo que actualmente me encuentro en uno de esos momentos de cambios. Terminando el curso de Full Stack Developer Jr. ofrecido por "Argentina Programa" y aprovechando los recursos disponibles online para poder profundizar en el aprendizaje de lenguajes para la programación en backend, frontend y para administrar bases de datos. Soy una persona  responsable, respetuosa, empática y que disfruta de trabajar en equipo.  

            </p><br><br>
        </span>
        <div id="info-actions">
            <span><a href="#expList"><button type="button" class="btn btn-outline-dark"><b>Experiencia Laboral</b></button></a></span>
            <span><a href="#educ"><button type="button" class="btn btn-outline-dark"><b>Educación</b></button></a></span>
            <br>
            <span><a href="#skills"><button type="button" class="btn btn-outline-dark"><b>Mis habilidades</b></button></a></span>
            <span><a href="#proyectos"><button type="button" class="btn btn-outline-dark" ><b>Mis proyectos</b></button></a></span>
        </div>
    </div>
</div>
