<div class="row" id="skills">
    <h1>Hard & Soft Skills >><img src="../assets/img/cerebro.png" id="cerebro"> <img src="../assets/img/softSkills.png" id="softSkills"></h1>
    
    <div class="col-lg-11">
        <button type="button" class="btn btn-success" routerLink="/nuevaskill" *ngIf="isLogged">
            <i class="bi bi-plus-square"></i>
        </button>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let Skill of skill">
        <circle-progress
            [percent]="Skill.progreso"
            [radius]="75"
            [imageSrc]="Skill.img"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'rgb(106, 72, 138)'"
            [innerStrokeColor]="'rgb(38, 23, 53)'"
            [animation]="true"
            [animationDuration]="800"
            [lazy]="true"     
        ></circle-progress>
     
        <div class="col-sm-4 col-md-2 col-lg-4 align-items-start flex-column" *ngIf="isLogged">
            <button class="btn btn-secondary" routerLink="/editskill/{{Skill.id}}">
                <i class="bi bi-pencil-square"></i></button>
           <button class="btn btn-danger" (click)="delete(Skill.id)">
            <i class="bi bi-trash2-fill"></i></button>
        </div>        
    </div> 
    
    <div class="col-lg-1"></div>
    <br>
    <a href="#info-actions" id="volver" ><button type="button" class="btn btn-outline-dark">Volver</button></a>
</div>