<div id="contacto" align-content="container-center">
    <div class="footer">
<div class="social">
    <h5>Contacto: </h5>
    <a href="mailto:luisamarkarian@gmail.com" target="_blank" target="_blank"><img src="../assets/img/logoGmail.png" alt="logo Mail" id="mail" ></a>
    <a href="https://api.WhatsApp.com/send?phone=542616984285&text=Hola" target="_blank"><img src="../assets/img/wap.jpg" alt="logo WhatsApp"  id="wap" ></a>

    <!--<a href="https:// " target="_blank"><img src="../assets/img/skype.png" alt="logo skype"  id="skype"></a>
    <a href="https:// " target="_blank"><img src=".." alt="logo telegram"  id="telegram"></a>-->
    <h5>Mis redes</h5>
    <a href="https://www.facebook.com/luisa.markarian" target="_blank"> <img src="../assets/img/facebook.png" alt="logo de facebook" id="facebook"></a>
    <a href="https://twitter.com/Lulimarka" target="_blank"><img src="../assets/img/twitter.png" alt="logo twitter"  id="twitter"></a>
    <a href="https://discord.com/channels/@me" target="_blank"><img src="../assets/img/discordlogo.png" alt="logo discord"  id="discord"></a>
    <a href="https://www.linkedin.com/in/luisa-markarian-253985246" target="_blank"><img src="../assets/img/linkedin.png" alt="logo linkedin"  id="linkedin"></a> 
    <!--<a href="https://github.com/LuMarka" target="_blank"><img src="../assets/img/github.png" alt="logo GitHub"  id="github"></a>-->
    <a href="https://www.instagram.com/invites/contact/?i=f9lgvo4n9s1p&utm_content=p2bkz52" target="_blank"><img src="../assets/img/instagram.png" alt="logo instagram"  id="instagram"></a>
    <br/>
</div> 
<div>
    <!--<form id="formulario" action="mailto:luisamarkarian@gmail.com" target="_blank" method="post">
        <p><label for="nombre" > Nombre y Apellido: <input type="text" id="nombre"></label><p>
        <p><label for="mail" > E-mail: <input type="email" id="mail"></label></p>
        <p><label for="telefono" > Teléfono: <input type="tel" id="telefono"></label></p>
        <p><label for="mensaje" > Mensaje: <textarea id="mensaje"></textarea></label></p>
        <button type="submit"><b>Enviar mail</b> </button>
    </form>-->
</div>

    <p > © Argentina Programa 2022  |  Luisa Aurora Markarian  |  Maipú, Mendoza, Argentina.</p>
    <a href="#logoAP">Volver al inicio</a>
</div>
</div>
